/* ================= TV MODE ================= */

body.tv-mode .container{
  max-width:100%;
  padding:40px;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* Judul besar */
h1{
  font-size:48px;
  margin-bottom:30px;
}

/* Jam besar */
#jam{
  font-size:70px;
}

/* lokasi */
#lokasiText{
  font-size:28px;
}

/* tanggal */
#tanggalText{
  font-size:22px;
}

/* card sholat besar */
.waktu-container{
  gap:30px;
}

.waktu-card{
  padding:30px;
}

.label{
  font-size:26px;
}

.time{
  font-size:46px;
}

/* countdown */
.countdown{
  font-size:30px;
  margin-top:25px;
}

/* sembunyikan tabel bulanan */
.jadwal-card{
  display:none;
}

/* sembunyikan tombol */
.btn-print{
  display:none;
}

select{
  font-size:22px;
  padding:12px;
  max-width:400px;
}

.running-text{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background:#111;
  color:#fff;
  overflow:hidden;
  height:50px;
  display:flex;
  align-items:center;
  font-size:24px;
}

.running-content{
  white-space:nowrap;
  padding-left:100%;
  animation:runningText 25s linear infinite;
}

@keyframes runningText{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-100%);
  }
}